.pets-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.pet-card {
  text-align: center;
  width: 150px;
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.pet-card.expanded {
  transform: scale(1.8); /* Scale the card to be larger */
  width: 250px;
}

.pet-image {
  width: 100%;
  height: auto;
  max-width: 100px;
  max-height: 100px;
  border-radius: 10px;
}

.pet-actions {
  margin-top: 20px;
  text-align: center;
}

.pet-actions h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.pet-actions button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

.logout-button {
  background-color: #ff4d4f; /* A noticeable color for logout */
  color: white;
  border: none;
  padding: 8px 12px;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.logout-button:hover {
  background-color: #d9363e;
}
